@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto.ttf")
}

:root {
    --headerHeight: 80px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.catalog {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.container {
    width: 90%;
    margin-inline: auto;
}

.list-elem {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

#card5 {
    background-image: url("img/asos.jpg")
}

.card_img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}



.star {
    background-image: url("img/star.png");
    width: 30px;
    height: 30px;
    display: block;
    background-size: cover;
}

.stars {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-elem {
    transition: all .4s;
    border: 3px solid purple;
    border-radius: 20px;
    width: 350px;
    min-width: 240px;
    overflow: hidden;
}

.container-elem:hover {
    transform: scale(1.01);
}

.content-container {
    padding: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    background-color: grey;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* header start */

header {
    padding: 50px;
}

.header-two {
    width: 100vw;
    height: var(--headerHeight);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.header-container {
    width: 80%;
}

.header-spisok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar-text {
    font-family: Roboto;
    display: flex;
    gap: 15px;
}

.logo-header {
    width: 60px;
    height: 60px;
    background-image: url("img/logo-dark.png");
    background-size: cover;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.header-spisok a {
    text-decoration: none;
    transition: all .3s;
    padding: 10px 10px;
    border-bottom: 1px solid transparent;
}


.header-spisok a:link {
    color: black;
}
.header-spisok a:visited {
    color: black;
}

.header-spisok a:hover {
    color: purple;
    border-bottom: 1px solid purple;
}


.authorization {
    /* height: calc(100vh - var(--headerHeight)); */
}

.auth-conteiner {
    height: calc(100vh - var(--headerHeight));
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    background: linear-gradient(#2A7B9B, #57C785, #EDDD53);
    padding: 30px;
    border-radius: 35px;
    width: 350px;
    height: 500px;
    font-family: Roboto, sans-serif;
}

.window p {
    text-align: center;
    font-size: 2rem;
    color: white;
    padding-bottom: 15px;
}

.elem-form {
    padding-bottom: 7px;

}

.window input {
    display: block;
    width: 100%;
    height: 32px;
    border-radius: 15px;
    border: 2px solid transparent;
    padding-left: 10px;
    transition: border .5s;
}
.window input:hover {
    border: 2px solid grey;
}
.window input:active {
    border: 2px solid grey;
    transform: scale(1.09);
}
.window input:focus {
    border: 2px solid grey;
    outline: none;
    transform: scale(1.09);
}

.window form {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.window label {
    display: block;
    color: white;
    padding-bottom: 3px;
}

.window button {
    width: 80%;
    height: 45px;
    border-radius: 50px;
    border: none;
}

.button-submit {
    align-self: center;
    
}

.bottom-part {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.checkbox-section {
    display: flex;
    font-size: .7rem;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.checkbox-section input {
    width: 15px;
    height: 15px;
}
