* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    padding: 30px;
}

#card5 {
    background-image: url("img/asos.jpg")
}

.card_img {
    width: 100%;
    height: 200px;
    background-size: cover; 
    background-repeat: no-repeat;
}

.star {
    background-image: url("img/star.png");
    width: 30px;
    height: 30px;
    display: block;
    background-size: cover;
}

.stars {
    display: flex;
    flex-direction: row;
    gap:10px;
}

.container-elem {
    transition: all .4s;
    border: 3px solid purple;
    border-radius: 20px;
    width: clamp(200px, 100%, 450px);
    overflow: hidden;
}

.container-elem:hover {
    transform: scale(1.01);
}

.content-container {
    padding: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    background-color: grey;
    color: white;       
    display: flex;
    flex-direction: column;
    gap: 15px;
}